<div class="container">

  <h1>Idea Box</h1>

<div class="row">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="title">Idea Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title of your idea">
      </div>
      <p>
      <div class="form-group">
        <label class="sr-only" for="body">Idea Body</label>
        <textarea class="form-control" rows="3" cols="60" id="body" placeholder="Description of your idea"></textarea>
      </div>
      <p>
        <button type="submit" id="idea-save" class="btn btn-primary">Save</button>
      </p>
    </form>
  </div>

  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control" id="search" placeholder="Search ideas">
      </div>
    </form>
  </div></div>



  <ul class="list-group">
    <div id="ideas">
    </div>
  </ul>
</div>
