body {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

span.quality {
  color: #FFF;
  margin-left: 20px;
  padding: 4px;
}

span.swill {
  background-color: red;

}

span.plausible {
  background-color: GoldenRod;
}

span.genius {
  background-color: green;
}

h1 {
  font-weight: 700;
  font-style: bold;
  font-variant: small-caps;
}

.idea-body {
  font-style: italic;
}

form {
  margin-bottom: 25px;
  margin-top: 25px;
}
