body {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

span.quality {
  color: #FFF;
  margin-left: 20px;
  padding: 4px;
  font-size: 120%;
  // vertical-align: text-bottom;;
}

span.swill {
  background-color: red;

}

span.plausible {
  background-color: GoldenRod;
}

span.genius {
  background-color: green;
}

h1 {
  font-weight: 700;
  font-style: bold;
  font-variant: small-caps;
}

h2 {
  display:inline-block;
}
.idea-body {
  font-style: italic;
}

form {
  margin-bottom: 25px;
  margin-top: 25px;
}
.icons {
  vertical-align: middle
}
.glyphicon {
  font-size: 125%;
  text-align:center;
  display:block;
}

.btn:hover{
  text-decoration: none
}

.red {
  color: red;
}
